.c2 {
  padding: 0.2em;
  border: 1px solid black;
  background-color: #5df398;
}

.c1 {
  padding: 0.2em;
  border: 2px solid gray;
  background-color: #F38630;
  border-radius: 5px;
}

.c3 {
  padding: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border: 2px solid gray;
  background-color: #ff4b55;
  border-radius: 10px;
}
