/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}





#lightbox_container {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}

/*
#lightbox_close {
  float: left;
  color: white;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  font-weight: bold;
  position: inline-block;
}
*/

#lightbox_close {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 30px;
}

#lightbox_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

#lightbox img {
  max-height: 80vh;
  max-width: 80%;
  display: block;
  margin: auto;
}



/* QUESTION 1 */
.vignette {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  cursor: zoom-in;
}


#n {
  float: right;
  margin-top: -40vh;
}
#p {
  margin-top: 40vh;
  float: left
}
